:root {
  --background-color: rgba(0,106,77,100);
  --foreground-color: rgba(247,250,234,100);
  --tile-color: rgba(242,242,242,100);
  --text-color: rbga(0,0,0,100);
  --name-font: sacramento;
  --text-font: Big Caslon;
}

#root {
  height: 220rem;
  width: 100%;
}


.App {
  width: 100%;
  height: 100%;
}


.content {
  display: flex;
  width: 100%;
  height: 100%;
}

.column {
  flex: 1;
}